img{
    border-radius: 8px;
    box-shadow: 6px 6px 10px #696969;
    margin-bottom: 40px;
    display: block;
}

h1{
    color: navy;
}

h2{
    color: blue;
}

h3{
    background-color: lightblue;
    border: 5px solid;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    color: red;
    text-decoration: underline;
}