body{
    margin: 0;
}

.receita{
    background-color: #f0f0f0;
    margin: 30px;
    padding: 10px 30px;
    width: 360px;
    box-sizing: border-box;
    box-shadow: 6px 6px 10px #0f0f0f;
    border-radius: 10px;
}

h1{
    color: brown;
}

h2{
    color: red;
    margin-bottom: 10px;
}

.ingredientes, .modo-preparo{
    margin-bottom: 30px;
}

p{
    margin-top: 0;
}

ul, ol{
    margin-top: 2px;
    padding-left: 16px;
}

.imagem{
    width: 300;
    height: 300;
}

.imagem img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 6px 6px 10px #696969;
    margin-bottom: 40px;
    display: block;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    color: navy;
    text-decoration: underline;
}